[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
djangorestframework = "*"
pillow = "*"
django-environ = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
django-stubs = "*"
isort = "*"

[requires]
python_version = "3.9"
